.site-sidebar {
  z-index: 5;
  text-align: center;
  display: table;
  border-right: 1px solid darken($body-bg, 5%);
  .vLine {
    background: $link-color;
    width: 5px;
    height: 28px;
    right: 1px;
    top: -600px;
  }
  .site-sidebar-inner {
    vertical-align: middle;
    z-index: 10;
    overflow: hidden;
  }
  .site-nav {
    //text-shadow: 1px 1px 1px $body-bg;
    font-family: $font-family-sans-serif-header;
    position: relative;
    z-index: 15;
    display: none;
    .list-menu.primary {
      &>li {
        padding-right: 15px;
        margin-top: 3px;
        margin-bottom: 3px;
        border-right: 5px solid transparent;
        &.active,
        &.current_page_item {
          border-right-color: darken($body-bg, 5%);
        }
        a {
          text-transform: uppercase;
          font-size: 15px;
          letter-spacing: 1px;
          color: $link-color;
          font-weight: 500;
          position: relative;
          opacity: .95;
          transition: text-shadow .3s, color .3s;
          &:hover {
            color: $body-color;
            opacity: 1;
            background-color: darken($body-bg, 5%);
          }
        }
      }
    }
    p {
      font-weight: 500;
      font-size: 16px;
      margin-bottom: 20px;
      color: #f2f2f2;
    }
  }
  
}

@media only screen and (min-width: $mobile-collapse) {
  .site-sidebar {
    position: fixed;
    width: $sidebar-width;
    height: 100%;
    &:before { display: block; }
    .site-sidebar-inner { display: table-cell; position: relative; }
    .site-nav { display: block; }
  }
}
